name: CI-Fl2ow

on:
  schedule:
    # 自动清理：每天早上6点（UTC时间）
    - cron: '0 22 * * *'
    # 缓存清理：每周日20点（UTC时间）
    - cron: '0 20 * * 0'
  workflow_dispatch: # 支持手动触发工作流

permissions: write-all

jobs:
  # 自动清理
  auto_clean:
    runs-on: ubuntu-latest
    steps:
      - name: Delete old Releases and Workflows
        uses: ophub/delete-releases-workflows@main
        with:
          gh_token: ${{secrets.GITHUB_TOKEN}}  # 使用 GitHub Token
          delete_releases: true
          releases_keep_latest: 0
          delete_tags: true
          delete_workflows: true
          workflows_keep_day: 0

  # 缓存清理
  cache_clean:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main
      - name: Cache Clean
        env:
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}  # 设置 GH_TOKEN
        run: gh cache delete --all

  # CI 编译作业
  build_ci:
    runs-on: ubuntu-latest
    needs: [auto_clean]
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main
      - name: Compile Firmware
        run: |
          # 确保 REPO_URL 和 BRANCH 被正确传递
          git clone --depth=1 --single-branch --branch ${{secrets.BRANCH}} ${{secrets.REPO_URL}} ./wrt/
          cd ./wrt/
          make -j$(nproc)

  # 云编译核心
  wrt_core:
    runs-on: ubuntu-latest
    needs: [build_ci]
    steps:
      - name: Checkout Projects
        uses: actions/checkout@main
      - name: Initialization Environment
        run: |
          sudo -E apt -yqq purge firefox
          sudo -E apt -yqq update
          sudo -E apt -yqq full-upgrade
          sudo -E apt -yqq autoremove --purge
          sudo -E apt -yqq clean
          sudo bash -c 'bash <(curl -sL https://build-scripts.immortalwrt.org/init_build_environment.sh)'
      - name: Compile Firmware
        run: |
          cd ./wrt/
          make -j$(nproc)

  # 发布固件
  release_firmware:
    runs-on: ubuntu-latest
    needs: [wrt_core]
    steps:
      - name: Release Firmware
        uses: softprops/action-gh-release@master
        with:
          tag_name: ${{env.WRT_CONFIG}}-${{env.WRT_INFO}}-${{env.WRT_BRANCH}}-${{env.WRT_DATE}}
          files: ./wrt/upload/*.*
          body: |
            这是平台固件包，内含多个设备！
            请注意选择你需要的设备固件！
            固件源码：${{env.WRT_REPO}}
            分支：${{env.WRT_BRANCH}}
            提交：${{env.WRT_HASH}}
            配置：${{env.WRT_CONFIG}}
            平台：${{env.WRT_TARGET}}

  # 清理缓存
  cleanup_cache:
    runs-on: ubuntu-latest
    needs: [release_firmware]
    steps:
      - name: Cleanup Caches
        run: |
          if ${{steps.check-cache.outputs.cache-hit != 'true'}}; then
            CACHE_LIST=$(gh cache list --key "$WRT_CONFIG-$WRT_INFO" | cut -f 1)
            for CACHE_KEY in $CACHE_LIST; do
              gh cache delete $CACHE_KEY
            done
            echo "caches cleanup done!"
          fi
